
body {
  background: #e6eeff;
}
#header {
  margin-top:20px;
  background: #e6eeff;
  text-align: center;
}

h1{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}

h3{
  font-family: 'Raleway', sans-serif;
}

.jumbotron {
  background:rgb(242, 242, 242);
  border-radius: 15px;
  height: auto;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color:  #000000;
  margin-top: 50px;
  padding: 30px;
  position: relative;
}

#buttonsRow {
 margin: auto;
display: inline-block;
text-align: center;
position: absolute;
}

#newQuoteButton {
 background-color:rgb(255, 82, 82);
 border:none;
 border-radius:5px;
 height: 50px;
 width: 150px;
 font-size:24px;
 color: white;
 position: absolute;
 margin-left: 200px;
margin-top: 30px;
}

#buttonToTwitter {
  background-color:rgb(255, 82, 82);
  border:none;
  border-radius:5px;
  height: 50px;
  width: 50px;
  font-size:24px;
  color: white;
  margin-left: 500px;
  margin-top: 30px;
  position: absolute;

}

#newQuoteButton:focus, #buttonToTwitter:focus{
  outline: none;
}
